alembic/**/__pycache__
application/**/__pycache__
application/**/**/__pycache__
/**/*.DS_Store
alembic/versions/**
system_analysis/
system_image/

# application/config/development.py
#application/config.py
__pycache__
__pycache__/**
nohup.out

# uwsgi_test.ini
sso_oauth2_explain.conf
application/**/__pycache__/*