[Unit]
Description=SSO OAuth2 Server

[Service] 
ExecStart=/home/teomoney_vsp/code/SSO_OAuth2/bin/uwsgi --master --emperor /home/teomoney_vsp/code/SSO_OAuth2/repo/uwsgi.ini --die-on-term --uid teomoney_vsp
Restart=always
KillSignal=SIGQUIT 
Type=notify
NotifyAccess=all 

[Install] 
WantedBy=multi-user.target

#place in to /etc/systemd/system